---
title: BluCar
category: UI &amp; UX
---

<div class="hero">
  <%= image_tag 'blucar_header.png', :width => '735' %>
</div>
<div class="section">
  <div class="sub-section text">
    <h1 class="title">Background &amp; goal</h1>
    <p class="text">
      <%= link_to 'BluCar (now Commutifi)', 'http://www.blucar.com/', :target => '_blank' %> originally was a platform for consumers to use in order to have their cars parked while in a city. The main audience for <%= link_to 'BluCar (now Commutifi)', 'http://www.blucar.com/', :target => '_blank' %> was busy people that were either sitting in traffic on the way to work or a meeting and were running late, therefore had very little time to worry about parking. Over the course of the project, we found out that users would benefit more from a commuting platform that allowed them to choose the way that they were commuting to and from their destination (work, meetings, etc.). We also started offering "Drop Spots", where users could elect to drop their car off for a discounted park at a popular alet stand in the city.
    </p>
    <p class="text">
      Please note that the work I did on <%= link_to 'BluCar', 'http://www.blucar.com/', :target => '_blank' %> was done under the creative direction of Brady Becker. We worked closely together to design the app, dashboards and marketing website.
    </p>
  </div>
  <div class="sub-section challenges">
    <h1 class="title">The challenges</h1>
    <p class="text">
      There were several challenges throughout the process working on the platform. Some of which included:
    </p>
    <div class="featured-details three">
      <div class="feature-detail">
        <span class="detail">Branding</span>
      </div>
      <div class="feature-detail">
        <span class="detail">Market fit</span>
      </div>
      <div class="feature-detail">
        <span class="detail">Admin dashboard</span>
      </div>
    </div>
    <div class="featured-details two">
      <div class="feature-detail">
        <span class="detail">Tech latency</span>
      </div>
      <div class="feature-detail">
        <span class="detail">User adoption</span>
      </div>
    </div>
  </div>
  <div class="sub-section">
    <hr />
  </div>
  <div class="sub-section text">
    <h1 class="title">Process</h1>
    <p class="text">
      I got to help create a visual inventory for the client depicting other dashboards and web apps that had some of the features that they wanted.
    </p>
    <p class="text">
      Once we talked about the visual inventory and saw what the client liked and didn't like, we started pulling some color palettes together and wireframing some of the main views to see if the hierarchy of information and layout was sufficient for the clients needs.
    </p>
    <p class="text">
      After that, we started creating the higher fidelity mock ups and created a visual style guide for our developers to go off of. In some cases for specific interactions I would make some Code Pens with CSS and JavaScript transitions and animations so that our developers didn't have to worry about those details.
    </p>
  </div>
  <div class="sub-section">
    <h1 class="title">Designs</h1>
    <div class="works half">
      <div class="work">
        <%= image_tag 'epson_grid.png', :width => '460' %>
        <p class="text">Receipts grid view</p>
      </div>
      <div class="work">
        <%= image_tag 'epson_table.png', :width => '460' %>
        <p class="text">Receipts table view</p>
      </div>
    </div>
    <div class="works full">
      <div class="work">
        <%= image_tag 'epson_settings.png', :width => '940' %>
        <p class="text">Receipt settings – categories</p>
      </div>
    </div>
  </div>
</div>