---
title: BluCar
category: UI &amp; UX
---

<div class="hero">
  <%= image_tag 'blucar_header.png', :width => '735' %>
</div>
<div class="section">
  <div class="sub-section text">
    <h1 class="title">Background &amp; goal</h1>
    <p class="text">
      <%= link_to 'BluCar (now Commutifi)', 'http://www.blucar.com/', :target => '_blank' %> originally was a platform for consumers to use in order to have their cars parked while in a city. The main audience for <%= link_to 'BluCar (now Commutifi)', 'http://www.blucar.com/', :target => '_blank' %> was busy people that were either sitting in traffic on the way to work or a meeting and were running late, therefore had very little time to worry about parking. Over the course of the project, we found out that users would benefit more from a commuting platform that allowed them to choose the way that they were commuting to and from their destination (work, meetings, etc.). We also started offering "Drop Spots", where users could elect to drop their car off for a discounted park at a popular valet stand in the city.
    </p>
    <p class="text">
      Please note that the work I did on <%= link_to 'BluCar', 'http://www.blucar.com/', :target => '_blank' %> was done under the creative direction of Brady Becker. We worked closely together to design the final apps, dashboards and marketing website.
    </p>
  </div>
  <div class="sub-section challenges">
    <h1 class="title">The challenges</h1>
    <p class="text">
      There were several challenges throughout the process working on the platform. Some of which included:
    </p>
    <div class="featured-details three">
      <div class="feature-detail">
        <span class="detail">Branding</span>
      </div>
      <div class="feature-detail">
        <span class="detail">Market fit</span>
      </div>
      <div class="feature-detail">
        <span class="detail">Admin dashboard</span>
      </div>
    </div>
    <div class="featured-details two">
      <div class="feature-detail">
        <span class="detail">Tech latency</span>
      </div>
      <div class="feature-detail">
        <span class="detail">User adoption</span>
      </div>
    </div>
  </div>
  <div class="sub-section">
    <hr />
  </div>
  <div class="sub-section text">
    <h1 class="title">Process</h1>
    <p class="text">
      When Brady and I first sat down to look at the problem <%= link_to 'BluCar', 'http://www.blucar.com/', :target => '_blank' %> would be solving, we wanted to approach the solution and experience in a way that consumers would immediately relate to – think <%= link_to 'Lyft', 'http://www.lyft.com/', :target => '_blank' %> and <%= link_to 'Uber', 'http://www.uber.com/', :target => '_blank' %>.
    </p>
    <p class="text">
      Once we figured the user experience out, we started to take a serious look at the brand we needed to create. Brady started experimenting with the name <%= link_to 'BluCar', 'http://www.blucar.com/', :target => '_blank' %> and we both approached creating a mark for that name. We finally settled on the logotype as the mark (as seen in the screenshots below).
    </p>
    <p class="text">
      As the app went into production we started iterating on features such as inviting friends with a promo code that is associated with a user account, drop spots for discounted parking and enterprise accounts. These features required building on top of the MVP we had fleshed out in the first phase of design and allowed us to expand and refine the UI Kit that we had originally created for the app.
    </p>
  </div>
  <div class="sub-section">
    <h1 class="title">Designs</h1>
    <div class="works half">
      <div class="work">
        <%= image_tag 'blucar_home.png', :width => '460' %>
        <p class="text center">Home (signed out)</p>
      </div>
      <div class="work">
        <%= image_tag 'blucar_invite.png', :width => '460' %>
        <p class="text center">Invite friends for free parking</p>
      </div>
    </div>
    <div class="works half">
      <div class="work">
        <%= image_tag 'blucar_dropoff.png', :width => '940' %>
        <p class="text center">Home (signed in) – Set drop-off location</p>
      </div>
      <div class="work">
        <%= image_tag 'blucar_modal.png', :width => '940' %>
        <p class="text center">Drop-off confirmed modal</p>
      </div>
    </div>
  </div>
</div>