---
title: Jesse Litton
---

<div class="section works">
  <h1>Selected works</h1>
  <div class="cards">

    <% link_to 'projects/startclosing.html', :class => 'card' do %>
      <%= image_tag 'startclosing_thumb.png', :class => 'thumbnail', :width => '300' %>
      <div class="details">
        <div class="work-title">
          <h3>Start Closing</h3>
        </div>
        <div class="work-tag">
          <h4>UI Re-design</h4>
        </div>
      </div>
    <% end %>

    <% link_to 'projects/ibm.html', :class => 'card' do %>
      <%= image_tag 'ibm_thumb.png', :class => 'thumbnail', :width => '300' %>
      <div class="details">
        <div class="work-title">
          <h3>IBM Alchemy API</h3>
        </div>
        <div class="work-tag">
          <h4>UX</h4>
        </div>
      </div>
    <% end %>

    <% link_to 'projects/epson.html', :class => 'card' do %>
      <%= image_tag 'epson_thumb.png', :class => 'thumbnail', :width => '300' %>
      <div class="details">
        <div class="work-title">
          <h3>Epson Parascript</h3>
        </div>
        <div class="work-tag">
          <h4>UI &amp; UX</h4>
        </div>
      </div>
    <% end %>
  </div>
  <div class="sub-section">
    <div class="get-in-touch">
      <div class="content">
        <div class="left">
          <h1 class="title">Want to know more?</h1>
          <p class="text">If you’re curious to hear more about my work or want to grab a coffee, please get in touch with me below.</p>
          <div class="btn-container">
            <%= mail_to 'jesse.litton+portfolio@gmail.com', 'Get in touch', :class => 'primary btn' %>
          </div>
        </div>
        <div class="right">
          <%= image_tag 'jesse_mug.png', :width => '468' %>
        </div>
      </div>
    </div>
  </div>
</div>